.scroll-top {
  position: fixed;
  bottom: 2em;
  right: 1em;
  background-color: var(--clr-bg);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  padding: 0.5em;
  border-radius: 10px;
  transition: transform 0.2s ease-in-out;
}
.scroll-top:hover {
  transform: translateY(-2px);
  cursor: pointer;
}

@media (max-width: 900px) {
  .scroll-top {
    size: 0.5em;
  }
}
